*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

background:url("assets/background.jpg");

background-size:cover;

background-position:center;

overflow-x:hidden;

color:white;

text-align:center;

}

#cover{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:rgba(0,0,0,.55);

}

h1{

font-family:Great Vibes;

font-size:65px;

margin-bottom:20px;

}

button{

padding:15px 35px;

font-size:18px;

border:none;

border-radius:40px;

background:#ff4d6d;

color:white;

cursor:pointer;

margin-top:20px;

transition:.3s;

}

button:hover{

transform:scale(1.08);

}

#content{

display:none;

padding:40px 20px;

background:rgba(0,0,0,.6);

min-height:100vh;

}

.slider img{

width:280px;

height:360px;

border-radius:20px;

object-fit:cover;

box-shadow:0 10px 30px rgba(0,0,0,.5);

}

#typing{

margin-top:30px;

font-size:20px;

max-width:800px;

margin-left:auto;

margin-right:auto;

line-height:2;

}

.heart{

position:fixed;

color:#ff4d6d;

font-size:25px;

animation:fall 8s linear infinite;

top:-50px;

}

@keyframes fall{

0%{

transform:translateY(-50px);

}

100%{

transform:translateY(110vh);

}

}

@media(max-width:768px){

h1{

font-size:45px;

}

.slider img{

width:90%;

height:auto;

}

}
